{% extends "blog/base.html" %}
{% load static %}
{% block title %} 9jaBased | Reset_passord {% endblock %}
{% block content %}
<br><br><br><br>


<h1  style="text-align: center;font-size: xx-large;padding:6px 6px 10px 6px;font-size: xlarger;font-weight: bold;  color: black;">Enter new password</h1>><br>



<form method="POST" class="form-group">
    {% csrf_token %}
    <div class="form-control">{{form}}</div>
    <input type="submit" class="btn btn-lg btn-primary" name="Update_Password">
</form>


<br><br><br><br>

{% endblock %}