{% extends "blog/base.html" %}
{% load static %}
{% block title %} 9jaBased | Reset_passord_sent {% endblock %}
{% block content %}
<br><br><br><br>

<h1  style="text-align: center;font-size: xx-large;padding:6px 6px 10px 6px;font-size: xlarger;font-weight: bold;  color: black;">Password reset sent</h1><br>

<hr>
<p>We've emailed instructions for setting your password, 
    If your account exists with the email you entered, You should receive them shortly </p>

<p>If you did'nt receive an email, Please make sure you have entered the address you registered with,
    and check your spam folder.
</p><hr>
<br><br><br><br>

{% endblock %}