{% extends "blog/base.html" %}
{% load static %}
{% block title %} 9jaBased | Password reset {% endblock %}
{% block content %}
<br><br><br>
<h1  style="text-align: center;font-size: xx-large;padding:6px 6px 10px 6px;font-size: xlarger;font-weight: bold;  color: black;">Password reset</h1>><br>


<form style="text-align: center;" method="POST" class="form-group">
    {% csrf_token %}
    <div class="">{{form}}</div>
    <small>Enter your email address</small>
    <br><br>
    <input class="btn btn-lg btn-primary" type="submit" name="Send" value="Send">
    
</form>
<br>

{% endblock %}