{% extends "blog/base.html" %} 
{% load static %} 
{% block title %} 9jaBased | Register {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "css/myblog.css" %}"/>

<br />
<br />
<br />
<div>
  <div class="row" style="text-align: center; padding: 10%">
    <h2
      class=""
      style="
        text-align: center;
        font-size: xx-large;
        padding: 6px 6px 10px 6px;
        font-size: xlarger;
        font-weight: bold;
        background-color: rgba(8, 86, 255, 0.986);
        color: white;
      "
    >
      Register
    </h2>
  </div>
  
  <form class="form-group" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <!-- <div class="row">
      <div class="col-md-6">
        <span>{{form.username.label}}</span>
        <div class="form-control">{{form.username}}</div>
      </div>
      <div class="col-md-6">
        <span>{{form.email.label}}</span>
        {{form.email}}
      </div>
    
      <div class="col-md-6">
        <span>{{form.password1.label}}</span> <p></p>
        {{form.password1}}
      </div>
      <div class="col-md-6">
        <span>{{form.password2.label}}</span> <p></p>
        {{form.password2}}
      </div>
    </div>
    <br /> -->
    <button type="submit" class="btn btn-lg btn-primary" value="Submit">
      Sign up
    </button>

    <div class="alert" style="color: red;">
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
  </form>
</div>

<br /><br /><br />
{% endblock %}
