{% extends "blog/base.html" %}
{% load static %}
{% block title %} 9jaBased | Reset_password_complete {% endblock %}
{% block content %}
<br><br><br><br>
<h1  style="text-align: center;font-size: xx-large;padding:6px 6px 10px 6px;font-size: xlarger;font-weight: bold;  color: black;">Password reset complete</h1>><br>

<hr>
<p>Your password has been reset. You may go ahead and login now.</p>
<hr>
<a class="btn btn-lg btn-primary" href="{% url 'members:login' %}">Login</a>
<br><br><br><br><br>

{% endblock %}